## Week 4 Assignment Solutions

1. Write a Python/NumPy code block that finds the distinct/unique common items between these two arrays:

In [ ]:
import numpy as np

a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

# the question requires finding the intersection of the 2 arrays
np.intersect1d(a,b)

2. Create the following 5x3 array using knowledge you have of 
Python's/NumPy's sequencing functionality so that you do not need to 
explicitly key in every integer value.

In [ ]:
np.arange(1,16).reshape(3,5).T

3. Write a Python/Numpy code block that removes from array a any items that are also present in array b.

In [ ]:
a = np.array([12,5,7,15,3,1,8])
b = np.array([14,6,3,11,19,12,5])


# the setdiff1d() function removes items from array a that are also in array b
np.setdiff1d(a,b)

4. Your task is to create a NumPy array wherein you can record the cumulative miles you recorded each day during your trip. Then use your Python skills to show the total miles that you rode each day. ...

In [ ]:
# create an array containing your odometer readings. What is the actual distance
# by bicycle from NYC to Key West?
odometer_array = np.asarray([60, 105, 147, 189, 234, 289, 332, 388, 388, 444, 498, 549, 612, 655, 697, 756, 756, 809,853, 
                             896, 957, 1015, 1065, 1107, 1107, 1152, 1203, 1249, 1312, 1358, 1402, 1460, 1460, 1510, 1548])

# the first daily mileage value is the first entry in the odometer array.
# For the remaining daily calculations,
# use the np.diff() function to calculate the differences
# between consecutive array items to get your daily mileage values.
# for days 2 - 35.
np.diff(odometer_array)

5. NYC Water Usage Data

https://data.cityofnewyork.us/Environment/Water-Consumption-In-The-New-York-City/ia2d-e54m

In [ ]:
import pandas
import numpy as np

# supress scientific notation
np.set_printoptions(suppress = True)

# read the data file from GitHub and convert to a NumPy ndarray object
nyc_water = pandas.read_csv('https://raw.githubusercontent.com/jtopor/DAV-5400/master/Week4/Water_Consumption_In_The_New_York_City.csv').as_matrix()

print(nyc_water)

What is the maximum yearly NYC consumption of water in millions of gallons per day?

In [ ]:
# yearly water consumption = column 3
np.max(nyc_water[:, 2])

How many calendar years are represented within this data set? NumPy's shape command is one way to find out.

In [ ]:
# np.shape() tells us row, col count for the array. The row count is equivalent
# to the number of years

np.shape(nyc_water)[0]

What is the mean and standard deviation of the per capita daily water consumption?

In [ ]:
# per capita daily water consumption is the 4th column
print(np.mean(nyc_water[:, 3]))
print(np.std(nyc_water[:, 3]))

What is the increase or decrease in population from year to year?

In [ ]:
# population is the 2nd column in the array
# once again use np.diff() to calculate differences between consecutive
# array items
np.diff(nyc_water[:,1])

# Week 5: Pandas Series & Data Frames

## What is Pandas?

- The name "Pandas" is derived from the term "__Pan__el __Da__ta"


- The term "panel data" is used in statistics and econometrics to refer to data sets that include observations over multiple time periods for the same entities.


- Pandas is a library of pre-built data structures and data manipulation tools designed to make the cleaning and analysis of data relatively fast and easy within Python.


- Like NumPy, the underlying code has been optimized for speed of computation


- 'Series' and 'Data Frames', the two primary Pandas data structures, are essentially NumPy arrays that have been extended to include functionality that allows users to define their own row & column labels. This feature enables far more flexibility in how users can manage + access data than is available with NumPy's integer-based row/column indexing scheme.


- Pandas is used in conjunction with virtually every Python-based analytical and graphics package (e.g., scikit-learn, matplotlib, statsmodels, Seaborn, Plotly, etc.)


- Becoming adept at the use of Pandas is necessary for any Python user wishing to become proficient in data analytics and visualization.



## Getting Started With Pandas

In [ ]:
# load the pandas library
import pandas as pd

# We're importing NumPy here for purposes of demonstrating similarities + 
# differences to Pandas objects
import numpy as np

# OPTIONAL: load the Series and DataFrame functions if you want to avoid the use of 
# the 'pd' predicate every time you want to create a new Series or 
# DataFrame object.
from pandas import Series, DataFrame

## Pandas Series Objects

- One dimensional (similar to NumPy 1D array)


- Comprised of a set of data values + a corresponding set of user-definable index values.

In [ ]:
# Define a 1D NumPy array so we can compare to a Pandas Series object
NP1D = np.array([11, 28, 72, 3, 5, 8])
NP1D

In [ ]:
# Now define a Pandas series using the same data: 
# Note similarity to how a NumPy array is defined
# But how the structure of the resulting object contains an explicit column
# of index values (shown to the left of the data)
S = pd.Series([11, 28, 72, 3, 5, 8])
S

In the above output, the left column contains the default index values assigned to the Series by Pandas. The right column contains the actual data elements we are placing into the Series object.


Next, we access the index and the values directly:

In [ ]:
# access the index for the Series
print(S.index)
print(" ")

# access the actual data values within the Series
print(S.values)

Note the zero-based characteristic of the index: Does this look familiar?


Now let's define a series and assign our own index values to it:

In [ ]:
# define a series + assign our own index values to it
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])

print(obj2)

print(" ")

print(obj2.index)

Now we can access our data using the index values we defined:

In [ ]:
print(obj2['a'])

# change the value of the element associated with index value 'd'
print(obj2['d'])
obj2['d'] = 6

print(obj2['d'])

# display the values associated with index values 'c', 'a', and 'd'
obj2[['c', 'a', 'd']]

In [ ]:
# apply a boolean test to a Series
obj2[obj2 > 0]

The index/data value relationship in a Pandas Series or DataFrame is very similar to the key/value relationships we saw in Python __dict__ objects:

In [ ]:
# check to see if a 'key' value exists within the index of the series
print('b' in obj2)
'e' in obj2

### Create a Pandas Series from a Python Dict

In [ ]:

# define a Python dict object
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

print(type(sdata))

# convert the dict to a series: the dict's key values become the index of the series
obj3 = pd.Series(sdata)

obj3

### 'NaN': How Pandas Indicates Missing Data Values

In [ ]:
# define a dict with a missing data value
sdata2 = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': None }

# convert the dict to a series
obj4 = pd.Series(sdata2)
obj4

In [ ]:
# test for missing values in the series
print(pd.isnull(obj4))

# use the built-in ufunc 'isnull() to test for missing values'
print(obj4.isnull())

# test for non-null values in the series
pd.notnull(obj4)

In [ ]:
# add values from 2 series
obj3 + obj4

Note the NaN result above for Utah: it is not possible to perform addition on an undefined value!!


What happens if we try to add the values of two series whose key values __do not__ align?

In [ ]:
ndata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

print(type(ndata))

nobj1 = pd.Series(ndata)

pdata =  {'Virginia': 22000, 'Texas': 71000, 'Washington': 46000, 'Utah': 1000}
print(type(pdata))

nobj2 = pd.Series(pdata)

nobj1 + nobj2

### Pandas Index Values Can Be Changed "In Place"

In [ ]:
print(nobj2)

# rename the indices for series object 'nobj2'
nobj2.index = ['Bob', 'Steve', 'Jeff', 'Ryan']
nobj2

## Pandas DataFrame Objects

- Data Frames are rectangular, ordered collection of columns


- Columns can be of different data types


- Data frames have indices that enable access to both the rows and columns.


- As with Pandas Series objects, DataFrame column index names can be assigned by a user. Row indices can also be assigned by a user if needed.



Let's compare a NumPy 2D array to a Pandas data frame:

In [ ]:
# define a 2D NumPy array so we can compare it to a Pandas DataFrame
# define a 2x3 array
arr = np.array([[1., 2., 3.], [4., 5., 6.]])
arr

In [ ]:
# now define a Pandas DataFrame using the same data
# note similarity to how a NumPy 2D array is defined
# but how the structure of the resulting object contains explicit row + column
# index values (shown to the left and above of the data)
df1 = pd.DataFrame([[1., 2., 3.], [4., 5., 6.]])
df1

In [ ]:
# example from page 131 of "Python for Data Analysis"

# first, the author defines a dict of key/value pairs
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
        'year': [2000, 2001, 2002, 2001, 2002, 2003],
        'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}

# then define the DataFrame, assigning your own names to the column + row indices
frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'],
                      index=['one', 'two', 'three', 'four',
                             'five', 'six'])
frame2

Note that the author specified 4 column names when there were only 3 columns of data defined within the 'data' dictionary. Pandas will automatically create that fourth column, but assigns a value of 'NaN' ('Not a number') to each column element within it.

In [ ]:
# display the column index for the data frame
frame2.columns

### Retrieving, Accessing, and Adding DataFrame Columns

DataFrame columns can be retrieved as a Pandas Series object

In [ ]:
# retrieve column using col name in quotes within brackets
frame2['state']

In [ ]:
# retrieve column using column name as an attribute of the DataFrame object
# NOTE: this only works if the column name is not a Python method/function name
# or Python keyword
frame2.year

In [ ]:
# add a new column based on a logic test:
# in this example, all 'state' values of 'Ohio' are assigned an 'eastern'
# value of 'True' while all other are assigned 'False'
frame2['eastern'] = frame2.state == 'Ohio'
frame2

In [ ]:
# delete an unwanted column
del frame2['eastern']
frame2

In [ ]:
# transpose the rows and columns of a data frame
# NOTE: This does NOT transpose the data frame 'in place'
# so if you want a transposed version, assign the output 
# of this line of code to a new variable name
frame2.T

In [ ]:
# frame2 has not been transposed "in place"
frame2

### Indexing, Selection & Filtering of Pandas Series + DataFrames


#### Indexing for Series Objects

In [ ]:
obj = pd.Series(np.arange(4.), index=['a', 'b', 'c', 'd'])
obj

In [ ]:
# get the data value from the series element corresponding to index 'b'
obj['b']

In [ ]:
# get the data values from series elements corresponding to indices 'b', 
# 'a' & 'd'
obj[['b', 'a', 'd']]

In [ ]:
# get data values corresponding to series elements in index positions 1 & 3
obj[[1, 3]]

In [ ]:
# assign the value of 5 to all elements between + inclusive of 
# indices 'b' & 'c'
obj['b':'c'] = 5
obj

#### Indexing for DataFrame Objects

In [ ]:
data = pd.DataFrame(
                    np.arange(16).reshape((4, 4))
                    ,index=['Ohio', 'Colorado', 'Utah', 'New York']
                    ,columns=['one', 'two', 'three', 'four']
                   )

data

In [ ]:
# display the values of the column having an index name of 'two'
data['two']

In [ ]:
# display the values of the columns having an index names of 'three' & 'one'
data[['three', 'one']]

In [ ]:
# display the content of all rows having indices < 2
data[:2]

In [ ]:
# display content of all rows where the value in the 'three' column is > 5
data[data['three'] > 5]

In [ ]:
# apply a logic test to the entire data frame
data < 5

#### Selecting / Filtering Data Using Column Names

In [ ]:
# reprint 'frame2' so we can easily refer to its contents
print(frame2)

In [ ]:
# 'select state, pop from frame2 where year == 2002'
# note you need to use double brackets if you are specifying more than one
# column for 'selection'
frame2[(frame2['year']== 2002)][["state", "pop"]]

In [ ]:
# 'select pop from frame2 where year == 2002 and state == Ohio'
frame2[(frame2['year']== 2002) & (frame2['state'] == 'Ohio')]["pop"]

## Accessing Data with 'loc' & 'iloc'

- Subset rows + columns of a DataFrame using either the axis label values ('__loc__') or integer index values ('__iloc__')

In [ ]:
# reprint data object for ease of reference
print(data)

In [ ]:
# subset columns having labels 'two' and 'three' for the row having
# label 'Colorado'
data.loc['Colorado', ['two', 'three']]

In [ ]:
# subset columns 3, 0, 1 (in that order) from row having index value of 
# 2 of the data frame
data.iloc[2, [3, 0, 1]]

In [ ]:
# get row having index value of 2 from the data frame
data.iloc[2]

In [ ]:
# get all rows having integer index >= 1 and all columns having an integer
# index < 3
data.iloc[1:, :3]

In [ ]:
# get all rows having an integer index < 2 and all columns having an integer
# index >= 1
data.iloc[:2, 1:]

In [ ]:
# for all rows, subset only those whose column 'one' values are <= 8 and whose 
# column index value is < 3
data.iloc[:, :3][data.one <= 8]

## Summarizing & Computing Descriptive Statistics

In [ ]:
# display frame2
frame2

In [ ]:
# get descriptive statistics for a DataFrame column
frame2['pop'].describe()

In [ ]:
# get just the mean from the descriptive statistics
frame2['pop'].describe()['mean']

In [ ]:
# get descriptive stats for a column containing string values
frame2['state'].describe()

## Quick Visualizations with Pandas Objects

In [ ]:
# create a histogram of frame2's 'pop' column's values 
frame2['pop'].plot(kind = 'hist')

In [ ]:
# create a boxplot of frame2's 'pop' column's values 
frame2['pop'].plot(kind = 'box')

In [ ]:
# line plot of Ohio's population by year
fplot = frame2[frame2['state'] == 'Ohio'].plot(x = 'year', y = 'pop')
# place a semicolon after plot name to suppress matplotlib info at top of plot
fplot;

In [ ]:
# line plot of Nevada's population by year
fplot = frame2[frame2['state'] == 'Nevada'].plot(x = 'year', y = 'pop')
fplot;

In [ ]:
filename = "https://raw.githubusercontent.com/jtopor/DAV-5400/master/Project1/hflights.csv"
df2 = pd.read_csv(filename)
df2.head()

## Case Study: UCI Mushroom Dataset

A famous dataset about mushrooms can be found in the UCI repository here: https://archive.ics.uci.edu/ml/datasets/mushroom

 Your task is to study the dataset and the associated description of the data (i.e. “data dictionary”). You may need to look around a bit, but it’s there! You should take the data, and create a data frame with a subset of the columns (and if you like rows) in the dataset. You should include the column that indicates edible or poisonous and three or four other columns. You should also add meaningful column names and replace the abbreviations used in the data—for example, in the appropriate column, “e” might become “edible.”

Here's a pd.read_csv() function call that will load the data set for you:

In [ ]:
# load the data set
import pandas as pd 

# This was the original read_csv() path - went direct to the UCI mushroom data set
# However, UCI no longer provides direct access to that data so instead
# we will make use of a copy of the data set that has been uploaded to Github
# mr_df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/mushroom/agaricus-lepiota.data", header = None)

# this is the new read_csv path:
mr_df = pd.read_csv("https://raw.githubusercontent.com/jtopor/DAV-5400/master/Week5/agaricus-lepiota.data", header = None)

In [ ]:
# sanity check - make sure data was read in as expected
mr_df.head()

In [ ]:
# NOTE: number of columns in data frame is 1 more than number of attributes
# described in data set. Why? First column is 'edible/poisonous' indicator
len(mr_df.columns)

1. Create a dataframe with a subset of the columns that includes the 'edible/poisonous' indicator and at least 3-4 other columns.

*Example: Use 'edible', 'cap shape', 'cap color', 'odor', and 'habitat'*

In [ ]:
# create a subset of 5 columns, including 'edible' + 'poisonous'
# use the 'copy()' function if you want to preserve the original data frame
mr_sub = mr_df.iloc[:, [0, 1, 3, 5, 22]].copy()

In [ ]:
# check results: do we have the 5 columns we want? Check the first 10 rows
mr_sub.head(10)

2. Truncate the new data frame to reduce the number of rows

In [ ]:
# take the first 100 rows and store them in a new data frame
# use the copy() function if you want to preserve the original data frame
mr_sub_tr = mr_sub.iloc[:100,:].copy()

In [ ]:
# sanity check: were we successful in truncating the dataframe to 100 rows?
mr_sub_tr.shape

3. Add meaningful column names

In [ ]:
# add meaningful column names
mr_sub_tr.columns = ['Edible', 'Cap_Shape', 'Cap_Color', 'Odor', 'Habitat']

# sanity check
mr_sub_tr.head(5)

4. Replace the single letter abbreviations used in the data with more descriptive character strings

In [ ]:
# replace Edible col values
mr_sub_tr.Edible.replace('e', 'edible', inplace = True)
mr_sub_tr.Edible.replace('p', 'poisonous', inplace = True)

# replace Cap Shape col values
mr_sub_tr.Cap_Shape.replace('b', 'bell', inplace = True)
mr_sub_tr.Cap_Shape.replace('c', 'conical', inplace = True)
mr_sub_tr.Cap_Shape.replace('x', 'convex', inplace = True)
mr_sub_tr.Cap_Shape.replace('f', 'flat', inplace = True)
mr_sub_tr.Cap_Shape.replace('k', 'knobbed', inplace = True)
mr_sub_tr.Cap_Shape.replace('s', 'sunken', inplace = True)

mr_sub_tr.head(10)

In [ ]:
# replace Cap Color values using a dict
mr_sub_tr.Cap_Color.replace({'n': 'brown', 
                             'b': 'buff',
                             'c': 'cinnamon',
                             'g': 'gray',
                             'r': 'green',
                             'p': 'pink',
                             'u': 'purple',
                             'e': 'red',
                             'w': 'white',
                             'y': 'yellow'}, inplace = True)

mr_sub_tr.head(10)

# replace Odor col values



# replace Habitat col values

In [ ]:
# now do some basic subsetting
# get rows where Cap_Shape == flat and Cap_Color == gray
mr_sub_tr[(mr_sub_tr['Cap_Shape']== 'flat') & (mr_sub_tr['Cap_Color'] == 'gray')]

In [ ]:
# get Habitat values from rows where Cap_Shape == flat and Cap_Colr == gray
mr_sub_tr[(mr_sub_tr['Cap_Shape']== 'flat') & (mr_sub_tr['Cap_Color'] == 'gray')].Habitat

In [ ]:
# get descriptive statistics for Cap_Color
# remember: Cap_Color is a categorical variable, so the output of the 
# describe() function is different from what you would get if you 
# were working with a numeric variable
mr_sub_tr.Cap_Color.describe()

The results shown above tell us that for our 100 row subset we have 4 unique Cap_Color values. The most frequently occurring Cap_Color value within the 100 row subset is 'yellow': it appears 37 times within the 100 row subset